<!DOCTYPE HTML>
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>富士通行銷兌點平台</title>
    <link type="text/css" rel="stylesheet" href="asset/styles/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="asset/styles/style.css">
    <link type="text/css" rel="stylesheet" href="asset/styles/fujitsu.css">
    <link type="text/css" rel="stylesheet" href="https:://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap">
    <link type="text/css" rel="stylesheet" href="asset/fonts/css/fontawesome-all.min.css">
</head>
<body class="theme-light" data-background="none" data-highlight="red2">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>
    <div id="page">
        <div class="header header-fixed header-logo-left">
            <a href="index.html"><img height="40px" src="asset/images/logo.png" class="header-title" /></a>
            <a href="#" data-menu="message" class="header-icon header-icon-2"><i class="fas fa-bullhorn"></i></a></a>
            <a href="#" data-menu="menu-settings" class="header-icon header-icon-1"><i class="fa fa-cog"></i></a>
        </div>
        <div id="footer-bar" class="footer-bar-1">
            <a href="index.html" class="active-nav"><i class="fa fa-home"></i><span>首頁</span></a>
            <a href="chart.html"><i class="fa fa-star"></i><span>排行榜</span></a>
            <a href="ponit.html"><i class="fa fa-coins"></i><span>新增點數</span></a>
            <a href="achievement.html"><i class="fa fa-trophy"></i><span>個人成就</span></a>
            <a href="exchange.html"><i class="fas fa-exchange-alt"></i><span>兌換好康</span></a>
        </div>
        <div class="page-content header-clear-medium header-clear-medium-index">
            <div class="single-slider owl-carousel owl-no-dots mb-0">
                <div v-for="item in banner" class="card shadow-l" data-card-height="200">
                    <a :href="item.path">
                        <div class="card-bottom text-center mb-0">
                            <h1 class="color-white font-700 mb-n1">{{ item.title }}</h1>
                            <p class="color-white opacity-80 mb-4">{{ item.desc }}</p>
                        </div>
                        <div class="card-overlay bg-gradient"></div>
                        <img class="img-fluid banner" :src="item.imageUrl">
                    </a>
                </div>
            </div>
            <div class="card card-style">
                <div class="content mb-0">
                    <h1 class="text-left mb-0">產品訊息</h1>
                    <div class="divider"></div>
                </div>
                <div class="stop-slider owl-carousel">
                    <div v-for="product in proudcts" class="item">
                        <div data-card-height="180" class="card shadow-l raduis" :style="'background-image: url(' + product.imageUrl + ');'">
                            <a :href="product.path">
                                <div class="card-bottom text-center">
                                    <h5 class="color-white font-900 mb-0">{{ product.name }}</h5>
                                </div>
                                <div class="card-overlay bg-gradient"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-style">
                <div class="content mb-0">
                    <h1 class="text-left mb-0">熱門活動</h1>
                    <div class="divider"></div>
                </div>
                <div class="double-slider owl-carousel">
                    <div v-for="(event, index) in events" class="item">
                        <div data-card-height="250" class="card rounded-m shadow-l" :style="'background-image: url(' + event.imageUrl + ');'">
                            <a :href="event.path">
                                <div class="card-bottom text-center">
                                    <h3 class="color-white font-900 mb-0">{{ event.title }}</h3>
                                </div>
                                <div class="card-overlay bg-gradient"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu-settings" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-height="408">
            <div class="menu-title">
                <h1>個人設定</h1>
                <p class="color-highlight"> &nbsp;</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a>
            </div>
            <div class="divider divider-margins mb-n2"></div>
            <div class="content">
                <div class="list-group list-custom-large">
                    <a data-menu="menu-backgrounds" href="#" class="border-0">
                        <i class="fa font-14 fa-portrait bg-yellow2-dark rounded-s"></i>
                        <span>頭像</span>
                        <strong>平台中呈現之頭像</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a data-menu="menu-backgrounds" href="#" class="border-0">
                        <i class="fa font-14 fa-camera bg-blue2-dark rounded-s"></i>
                        <span>暱稱</span>
                        <strong>平台中呈現之名稱</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <a data-menu="menu-highlights" href="#">
                        <i class="fa font-14 fa-key bg-green1-dark rounded-s"></i>
                        <span>密碼設定</span>
                        <strong>修改登入密碼</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="menu-title">
                <h1>系統設定</h1>
                <p class="color-highlight"> &nbsp;</p><a href="#" class="close-menu"><i class="fa fa-times"></i></a>
            </div>
            <div class="divider divider-margins mb-n2"></div>
            <div class="content">
                <div class="list-group list-custom-large">
                    <a href="#" data-toggle-theme data-trigger-switch="switch-dark-mode" class="pb-2 ml-n1">
                        <i class="fa font-12 fa-moon rounded-s bg-highlight color-white mr-3"></i>
                        <span>夜晚模式</span>
                        <strong>使用暗色系背景保護眼睛</strong>
                        <div class="custom-control scale-switch ios-switch">
                            <input data-toggle-theme-switch type="checkbox" class="ios-input" id="switch-dark-mode">
                            <label class="custom-control-label" for="switch-dark-mode"></label>
                        </div>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="message" class="bg-white menu menu-box-right" data-menu-width="320" data-menu-effect="menu-push">
            <div class="d-flex">
                <div class="menu-title flex-grow-1">
                    <h1 class="font-22 font-700 mb-0">訊息通知</h1>
                </div>
                <a href="#" class="close-menu flex-fill icon icon-m color-red2-dark text-right" style="padding-right: 15px"><i class="fa font-12 fa-times"></i></a>
            </div>
            <div class="divider"></div>
            <div class="mr-3 ml-3">
                <span class="text-uppercase font-900 font-11 opacity-30"></span>
                <div class="list-groupl">
                    <div v-for="item in message" class="row mb-3">
                        <div class="col-12">
                            <h5 class="text-uppercase font-800 mb-0">{{ item.title }}</h5>
                            <span>{{ item.desc }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="asset/scripts/jquery.js"></script>
    <script type="text/javascript" src="asset/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="asset/scripts/custom.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
    const vm = Vue.createApp({
        data() {
            return {
                banner: [
                    {
                        title: '台灣全家便利商店',
                        desc: '通過與客戶共創創造新的店面價值',
                        imageUrl: 'asset/images/banner/fami.jpg',
                        path: ''
                    },
                    {
                        title: '富士通電子亞太有限公司',
                        desc: '富士通於9月推出全球最高密度8Mbit ReRAM產品',
                        imageUrl: 'asset/images/banner/reram.jpg',
                        path: ''
                    },
                    {
                        title: '富士通株式會社',
                        desc: 'ScanSnap iX1500 嶄新黑色限量機種 隆重登場',
                        imageUrl: 'asset/images/banner/newproduct.png',
                        path: ''
                    }
                ],
                proudcts: [
                    {
                        name: '全系列伺服器',
                        imageUrl: 'asset/images/product/Datacenter-580x224_tcm136-23340.png',
                        path: ''
                    },
                    {
                        name: 'ETERNUS儲存設備',
                        imageUrl: 'asset/images/product/580x224_GPS-storage-top_tcm136-2953726.jpg',
                        path: ''
                    },
                    {
                        name: '用戶端電腦產品',
                        imageUrl: 'asset/images/product/desktops-notebooks-index-580x224_tcm136-2819467.png',
                        path: ''
                    },
                    {
                        name: '點矩陣印表機',
                        imageUrl: 'asset/images/product/printer-family_header580x22_tcm136-896964.png',
                        path: ''
                    },
                    {
                        name: '掃描器',
                        imageUrl: 'asset/images/product/bnr_scanner_top_tcm136-3926405.jpg',
                        path: ''
                    }
                ],
                events: [
                    {
                        title: 'Reimagine',
                        imageUrl: 'asset/images/event/gig5-s-Reimagine_tcm136-5175008_tcm136-2750237-32.jpg',
                        path: ''
                    },
                    {
                        title: 'FUJITSU Work Life Shift',
                        imageUrl: 'asset/images/event/gig5-s-WLS_tcm136-5342369_tcm136-2750237-32.jpg',
                        path: ''
                    },
                    {
                        title: '針對COVID-19採取的措施',
                        imageUrl: 'asset/images/event/gig5-s-Covid19_tcm136-4939579_tcm136-2750237-32.jpg',
                        path: ''
                    }
                ],
                message: [
                    {
                        title: '台灣全家便利商店',
                        desc: '通過與客戶共創創造新的店面價值'
                    },
                    {
                        title: '富士通電子亞太有限公司',
                        desc: '富士通於9月推出全球最高密度8Mbit ReRAM產品'
                    },
                    {
                        title: '富士通株式會社',
                        desc: 'ScanSnap iX1500 嶄新黑色限量機種 隆重登場'
                    }
                ]
            }
        }
    }).mount('#page');
    </script>
</body>