<!DOCTYPE HTML>
<html lang="zh-TW">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>登入 | 富士通行銷兌點平台</title>
    <link type="text/css" rel="stylesheet" href="asset/styles/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="asset/styles/style.css">
    <link type="text/css" rel="stylesheet" href="asset/styles/fujitsu.css">
    <link type="text/css" rel="stylesheet" href="https:://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap">
    <link type="text/css" rel="stylesheet" href="asset/fonts/css/fontawesome-all.min.css">
</head>

<body class="theme-light" data-background="none" data-highlight="red2">
    <div id="preloader">
        <div class="spinner-border color-highlight" role="status"></div>
    </div>
    <div id="page">
        <div class="page-content header-clear-medium">
            <div v-if="loginFailed" class="alert alert-small rounded-s shadow-xl bg-red2-dark" role="alert">
                <span><i class="fa fa-user"></i></span>
                <strong> error msg </strong>
                <strong class="float-right font-12 opacity-50">Error</strong>
            </div>
            <div class="card card-style">
                <div class="content mt-4 mb-0">
                    <h1 class="text-center font-900 text-uppercase mb-0">富士通行銷兌點平台</h1>
                    <p class="bottom-0 text-center color-highlight font-11"> </p>
                    <div class="input-style has-icon input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-user color-theme"></i>
                        <span>帳號</span>
                        <em>(required)</em>
                        <input type="text" placeholder="Account" v-model="account">
                    </div>
                    <div class="input-style has-icon input-style-1 input-required pb-1">
                        <i class="input-icon fa fa-lock color-theme"></i>
                        <span>密碼</span>
                        <em>(required)</em>
                        <input type="password" placeholder="Password" v-model="password">
                    </div>
                    <a href="#" @click="submitLogin" class="btn btn-m mt-2 mb-4 btn-full bg-highlight text-uppercase font-900">登入</a>
                    <div class="divider mt-4 mb-3"></div>
                    <div class="d-flex">
                        <div class="w-100 font-11 pb-2 color-theme opacity-60 pb-3 text-center"><a href="auth.html" class="color-highlight">首次密碼設定</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="asset/scripts/jquery.js"></script>
    <script type="text/javascript" src="asset/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="asset/scripts/custom.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
    const vm = Vue.createApp({
        data() {
            return {
                phone: null,
                password: null,
                loginFailed: false
            }
        },
        methods: {
            submitLogin: function() {
                this.formVaild();
                if (!this.loginFailed) {
                    location.href = 'index.html';
                }
            },
            formVaild: function() {
                if (null != this.phone && null !== this.password) {
                    this.loginFailed = false;
                } else {
                    this.loginFailed = true;
                }
            }
        }
    }).mount('#page');
    </script>
</body>